version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: silice-mysql
    restart: unless-stopped
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: silice_db
      MYSQL_USER: silice_user
      MYSQL_PASSWORD: silice_pass
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

volumes:
  mysql_data: